html,
body {
  background-color: rgb(29, 29, 29);
  margin: 20px 20px 20px 20px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 50px;
  height: 50px;
}

.header .lang a {
  color: #ffffff;
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  margin: auto 10px;
  list-style-type: none;
}

.menu li a {
  color: #f2f2ff;
  text-decoration: none;
  position: relative;
}

.main-ctn {
  font-family: Arial, sans-serif;
  text-shadow: 1px 1px 2px black;
  height: 500px;
  color: #ffffff;
  text-align:center;
  background: url('./assets/wifi-moon.webp');
  background-size: cover;
  display: flex;
  justify-content:center;
  align-items:center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.img-appolon{
  border-radius: 10px;
  margin-top: -500px;
  margin-left:150px;
}
.landing{
  font-family: Arial, sans-serif;
  font-size:larger;
  color: darkgrey;
  text-align:left;
  margin-left: 92px;
  margin-top: -61px;
}
.apollo-17{
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-align:left;
  margin-left: 92px;
  margin-top: -20px;
}
.apollo-text{
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin-left: 92px;
  background-color: #2d2d2d;
  width:fit-content;
  border-color: #2d2d2d; 
  border-radius: 10px;
  padding: 10px; 
  margin-bottom: -40px;
}

.order-btn{
  margin-left: 100px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color:#6456ff;
  border-color: #6456ff; 
  border-radius: 10px;
  padding: 10px; 
}
.moon-img {
  margin-left: 800px;
  margin-top: 300px;
}
.text2{
  font-family: Arial, sans-serif;
  color: #ffffff;
  margin-left:92px;
  margin-top:200px;
}
.menu2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.menu2 li {
  margin: auto 10px;
  list-style-type: none;
}
.menu2 li a{
  font-family: Arial, sans-serif;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  border: 1px solid white;
  border-radius:10px;
  padding: 10px;
}
.menu2 li a:hover {
  color: #fff;
  background: #6456ff;
}